Flask
Jinja2
MarkupSafe
Werkzeug
certifi
charset-normalizer
click
idna
importlib-metadata
itsdangerous
python-decouple
python-twitter
pytz
redis
requests
schedule
tweepy
urllib3
zipp
langdetect
pymongo
Pillow
tweepy